@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Create Role @Model.Name</h1>
<br />

<form asp-action="Edit">

    <partial name="PartialViews/EditCreatePartialView" />

    <br />
    <input type="submit" value="Edit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
