@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>

		<form asp-action="ResetPassword">

			<input class="text" asp-for="Password" placeholder="New Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />

			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Reset">

		</form>
	</div>
</div>


