@model Department

<div class="form-group">
	<label class="col-form-label" asp-for="Code"></label>
	<input readonly class="form-control" asp-for="Code" placeholder="Department Code">
</div>
<div class="form-group">
	<label class="col-form-label" asp-for="Name"></label>
	<input readonly class="form-control" asp-for="Name" placeholder="Department Name">
</div>
<div class="form-group">
	<label class="col-form-label" asp-for="DateOfCreation"></label>
	<input readonly class="form-control" asp-for="DateOfCreation">
</div>
