@model UserViewModel
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit @Model.FName @Model.LName</h1>
<br />

<form asp-action="Edit">

	<div class="form-group">
		<label class="col-form-label" asp-for="FName"></label>
		<input class="form-control" asp-for="FName">
	</div>

	<div class="form-group">
		<label class="col-form-label" asp-for="LName"></label>
		<input class="form-control" asp-for="LName">
	</div>

	<div class="form-group">
		<label class="col-form-label" asp-for="PhoneNumber"></label>
		<input class="form-control" asp-for="PhoneNumber">
	</div>

	<br />

	<input type="submit" value="Save" class="btn btn-warning" /> |
	<a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
