@model RoleViewModel


<div class="form-group">
	<label class="col-form-label" asp-for="Id"></label>
	<input readonly class="form-control" asp-for="Id">
</div>

<div class="form-group">
	<label class="col-form-label" asp-for="Name"></label>
	<input readonly class="form-control" asp-for="Name">
</div>


<br />